.index {
    padding: 8px 16px;
}
.index:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}
.index-active {
    background-color: #5654ce;
    color: white;
    border-radius: 5px;
}

.posts hr {
    color: rgb(192, 192, 192);
    margin: 1.5rem 0 0;
}
